.error {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}

.error2 {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}

.success input {
    border-color: green;
}

.success2 input {
    border-color: green;
}